# 檔案名稱 .gitignore

# 忽略 secret.yml 檔案
secret.yml

# 忽略 config 目錄下的 database.yml 檔案
config/database.yml

# 忽略所有 db 目錄下附檔名是 .sqlite3 的檔案
/db/*.sqlite3

# 忽略所有附檔名是 .tmp 的檔案
*.tmp

# 忽略編譯.java編譯後的結果
*.class

# 忽略環境設定(因為多人協作的話別人環境不可能都跟你一樣
*.classpath

# 忽略環境設定(因為多人協作的話別人環境不可能都跟你一樣
*.project

# 偏好設定
*.prefs

# eclispe相關設定
/.settings/