body {
	background-color: #dae0e6;
}
img {
	max-width: 100%;
}
button:focus {
	/* border: none !important; */
	outline: none !important;
	box-shadow: none !important;
}
textarea:focus {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
input:focus {
	outline: none !important;
	box-shadow: none !important;
}
.note-editor .dropdown-toggle::after {
	all: unset;
}

.note-editor .note-dropdown-menu,
.note-editor .note-modal-footer {
	box-sizing: content-box;
}
.note-editor .note-editable {
	line-height: 0.9;
}
